/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
/* .Firstcontainer {
  background: rgba(255, 144, 14, 0.1);
} */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px, 240px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-h3 {
  align-items: center;

  font-weight: 700;
  font-size: 30px;
  padding-left: 25px;

  color: #131313;

  /*  for shadow of h3   */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* border: 1px solid #131313; */
/* writting */
.writing-container {
  max-width: 800px;
  padding: 30px;
  text-align: center;
  margin: 0 auto;

  height: 250px;
  border-bottom: 6px;
}
.banner-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  /* text-align: center; */

  color: #131313;
}
.banner-p {
  font-weight: 100;
  font-size: 12px;

  text-align: center;

  color: #727272;
}
.btn {
  padding: 10px 10px;
  background-color: coral;
  color: aliceblue;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  border: 1px solid #131313;
}
/* .banner {
  width: 800px;
} */

/* margin-left: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #131313;
}  */

.banner img {
  width: 50%;
  margin-left: 320px;
  margin-bottom: 50px;
  border: 1px solid #131313;
  /* padding: 5px; */
  /* top: 20px; */
}

/* main style */
main {
  max-width: 1440px;
  margin: 0 auto;
}

.Team-container {
  display: flex;
  align-items: center;
  padding: 50px;
  margin-left: 100px;
}

.container-TEAMimg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.container-TEAMimg img {
  width: 250px;
  height: 250px;
}

.Team-Content {
  padding-right: 70px;
  padding-left: 70px;
}

.Quicklink {
  color: #727272;
  font-size: 25px;
}

.team-feature {
  color: #ff900e;
  font-size: 25px;
  line-height: 30px;
}

.btn2 {
  margin-top: 20px;
  padding: 10px 10px;
  background-color: coral;
  color: aliceblue;
  font-weight: 200;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 5px;
  border: none;
}

/* 4th section-- written part */

.facts-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  margin-left: 80px;

  color: #131313;
}

.facts-description {
  font-size: 11px;
  max-width: 350px;
  margin-left: 80px;
  color: #727272;
}
.fact-card-container {
  display: flex;
  justify-content: space-around;
}

.fact-card-container .card {
  border-radius: 8px;
  border: 1px solid coral;
  text-align: center;
  padding: 10px 20px;
  margin-top: 15px;
  margin-left: 100px;
}
.fact-card-container .card-title {
  font-weight: 500;
  font-size: 1rem;
  color: #727272;
  margin-top: 5px;
}
.fact-card-container .card-stat {
  font-size: 2rem;
  color: #424242;
}
.fact-card-container img {
  padding-top: 5px;
}

/* 5th part sponsor-styles */
.sponsor {
  text-align: center;
}
.sponsor-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  margin-top: 60px;

  color: #131313;
}

.sponsor-p {
  margin-left: 400px;
  /* text-align: center; */
  color: #727272;
  font-size: 11px;
  width: 400px;
}

.sponsor-card-container {
  display: flex;
  justify-content: space-around;
}
.sponsor-card-container .card {
  /* border-radius: 8px; */
  /* border: 1px solid coral; */
  /* text-align: center; */
  /* padding: 10px 70px; */
  margin-top: 25px;
  margin-left: 5px;
}
.sponsor-card-container img {
  width: 100px;
}

/* responsive header */
/* mobile */
@media screen and (max-width: 667px) {
  header {
    padding: 20px;
  }
  nav li {
    font-size: 10px;
  }
  .banner img {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .banner-p {
    font-size: 12px;
  }
  nav,
  .Team-container,
  .fact-card-container {
    flex-direction: column;
    margin-left: 0px;
  }

  .container-TEAMimg {
    grid-template-columns: 1fr;
  }
  .container-TEAMimg img {
    width: 200px;
    height: 200px;
  }

  .Team-Content {
    padding-right: 10px;
    padding-left: 1.5rem;
  }

  /* 4th section */
  .facts-title {
    margin-left: 50px;
  }
  .facts-description {
    font-size: 12px;
    /* max-width: 350px; */
    margin-left: 50px;
  }
  .fact-card-container .card {
    margin-left: 60px;
    width: 200px;
    /* padding: 10px 10px; */
  }

  /* 5th part Sponsor*/
  .sponsor-p {
    margin-left: 8px;
    /* text-align: center; */
    color: #727272;
    font-size: 11px;
    width: 350px;
  }
  .sponsor-card-container img {
    width: 50px;
  }
}

/* medium */

@media screen and (min-width: 668px) and (max-width: 1024px) {
  header {
    padding: 40px;
  }
  .banner img {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .banner-p {
    font-size: 12px;
  }
  nav,
  .Team-container,
  .fact-card-container {
    flex-direction: column;
  }

  .Team-container {
    /* border: 1px solid black; */

    margin-left: 0px;
  }
  .Team-Content {
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    margin-left: 10px;
  }

  /* 4th section*/
  .facts-description {
    font-size: 14px;
    max-width: 500px;
    margin-left: 80px;
  }
  .fact-card-container .card {
    margin-left: 200px;
    padding: 10px 10px;
    width: 350px;
  }

  /* 5th part sponsor */

  .sponsor-p {
    margin-left: 160px;
    /* text-align: center; */
    color: #727272;
    font-size: 18px;
    width: 500px;
  }
}
